@media (max-width: 1024px) {
    .header__login  {
        margin-right: 0;
    }
}

@media (max-width: 895px) {
    .header {
        background-position: center right;
    }
    .header__top {
        padding-top: 30px;
    }
    .menu-btn {
        display: block;
    }
    .menu__list {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #010203;
        padding-top: 110px;
        padding-bottom: 30px;
        width: 100%;
        text-align: center;
        transform: translateY(-150%);
        transition: all 0.5s linear;
    }
    .menu__list.active {
        transform: translateY(0);
    }
    .menu__item {
        padding: 15px 0;
        margin-right: 0;
    }
    .menu__link {
        display: block;
    }
    .header__phone,
    .header__login {
        position: relative;
        z-index: 20;
    }
    .header__content {
        margin: 0 auto;
    }
    .header__description {
        justify-content: center;
    }
}

@media (max-width: 620px) {
    .header__content {
        text-align: center;
    }
    .heder__title {
        font-size: 33px;
        line-height: 30px;
    }
    .heder__title span {
        font-size: 60px;
    }
    .header__text {
        justify-content: center;
        font-size: 18px;
    }
    .header__text p {
        padding: 0 10px;
    }
    .header__btn {
        font-size: 18px;
        line-height: 24px;
        width: 80%;
    }
    .header__description {
        display: block;
    }
    .header__description-text {
        width: 100%;
        text-align: center;
    }
    .header__description-text + .header__description-text {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 360px) {
    .header__phone {
        width: 95%;
        margin-right: auto;
        margin-top: 10px;
        text-align: center;
    }
    .menu,
    .header__login {
        order: -1;
    }
    .heder__title {
        font-size: 26px;
        line-height: 28px;
    }
    .heder__title span {
        font-size: 40px;
    }
    .header__btn {
        font-size: 16px;
        width: 100%;
    }
}